// Required
@import "../node_modules/bootstrap/scss/functions";

$component-active-bg: #70378f; //info

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";


// Default variable overrides
$light: #aae9e3;
$white: #fff;
$dark: #191361;
$primary: #cb7c94;
$secondary: #bdbfbe;
$info: #70378f;
$success: #fff;
$warning: #fdba59;
$danger: #5e1111;

$body-bg: $dark;
$body-secondary-bg: shade-color($body-bg, 30%);
$body-tertiary-bg: shade-color($body-bg, 60%);

$body-emphasis-color: $info;

$body-color: $light;
$body-secondary-color: tint-color($secondary, 40%);
$body-tertiary-color: tint-color($secondary, 80%);

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
  color: rgba(var($primary), var(--bs-bg-opacity)) !important;
}

//Parallax scrolling

.parallax-bg {
  width: 100%;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  will-change: transform;

  background-image: url("/static/images/background-layer.png");
  opacity: 1;
}

//end parallax scrolling

// End theme colors

$theme-colors: ( 
  "light": $light,
  "white": $white,
  "dark": $dark,
  "primary": $primary,
  "secondary": $secondary,
  "info": $success,
  "success": $warning,
  "danger": $danger
);

// End theme colors

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/nav";

// Nav overrides

$component-active-bg: $primary;
$link-color: $info;
$link-hover-color: tint-color($link-color, 40%);

// End Nav overrides

@import "../node_modules/bootstrap/scss/buttons";

// Button default overrides
$btn-bg: $info;
$btn-color: $secondary;
$btn-active-bg: tint-color($btn-bg, 40%);
$btn-active-color: tint-color($btn-color, 40%);

$btn-link-color: $btn-color;
$btn-link-hover-color: tint-color($btn-link-color, 80%);

// end button default overrides

// end Required

@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/root";

// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
// etc