// Required
@import "../node_modules/bootstrap/scss/functions";

$component-active-bg: #e85151;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";


// Default variable overrides
$light: #aae9e3;
$white: #fff;
$dark: #191361;
$primary: #262121;
$secondary: #e14056;
$info: #70378f;
$success: #599227;
$warning: #fdba59;
$danger: #e61963;

$body-bg: $light;
$body-secondary-bg: shade-color($body-bg, 30%);
$body-tertiary-bg: shade-color($body-bg, 60%);
$body-color: $dark;
$body-emphasis-color: $info;
$body-secondary-color: tint-color($secondary, 40%);
$body-tertiary-color: tint-color($secondary, 80%);

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
  color: rgba(var($primary), var(--bs-bg-opacity)) !important;
}

//Parallax scrolling

.parallax {
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax.parallax-bg {
  background-image: url("/static/images/background-layer.png");
  opacity: 0.7;
}



.parallax.parallax-mid {
  background-image: url("/static/images/midground-layer.png");
  opacity: 0.2;
}


.parallax.parallax-fg {
  background-image: url("/static/images/foreground-layer.png");
  opacity: 0.1;
}

//end parallax scrolling

$theme-colors: ( 
  "body-bg": $body-bg,
  "body-color": $body-color,
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "tertiary": shade-color($body-bg, 20%)
);

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/nav";

$component-active-bg: $primary;
$link-color: $primary;
$link-hover-color: shade-color($primary, 40%);

@import "../node_modules/bootstrap/scss/buttons";

// custom elements

.custom-element {
  color: $primary;
  background-color: $body-bg;
}

.custom-element-1 {
  color: tint-color($primary, 10%)
}

.custom-element-2 {
  color: shade-color($danger, 40%)
}

// Required

@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/root";

// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
// etc